h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    background-color: aliceblue;
}

h2 {
    color: darkmagenta;
    background-color: darkolivegreen;
}

h3 {
    color: turquoise;
    background-color: yellow;
    outline: red dotted;
}

h4 {
    color: purple;
    background-color: darkblue;
    outline: black dotted;
}

p {
    color: firebrick;
    background-color: aqua;
    outline: green dotted;
}
